body {
    margin: 0;
    text-align: justify;
    display: flex;
    flex-direction: column;
    background-color: #ffedc6;
}

P {
    margin-left: 10%;
    margin-right: 35%;
    color: #ac3f21;
}

H1{
    text-align: left;
    margin-left: 10%;
    margin-right: 25%;
    font-family: "Brush Script MT";
    font-size: 300%;
    top: 0;
    position: relative;
    color: #be6a15;
}

H2{
    margin-right: 50%;
    margin-left: 0;
    padding-left: 10%;
    text-align: left;
    color: #ffedc6;
    background-color: #be6a15;
}
H3,
H4,
H5,
H6 {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
}

hr {
    width: 50%;
    text-align: center;
}

.foot {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    text-indent: -3em;
    font-size: 90%;
}

blockquote {
    top: 0;
    margin-top:0;
    margin-left:80%;
    padding: 0;
    font-size: 100%;
    height: 100%;
    width: 20%;
    overflow: auto;
    background-color: #be6a15;
    text-align: center;
    position: fixed;
}

blockquote .toc a{
    display: block;
    text-decoration: none;
    padding: 6pt 10pt;
    color: #fff4e3;
}

blockquote .toc a.visited{
    color: #fff4e3;
}

blockquote .toc a:hover{
    background-color: #f3cf7a;
    color: #6e3b3b
}

.toc big b{
    color: #f3cf7a;
    font-family: "Bookman Old Style";
    font-size: 150%;
    margin-right: 0 !important;
}

.toc{
    margin-left: 0%;
    margin-right: 0%;
}


.toc2 {
    margin-left: 20%;
}


.figleft {
    float: left;
    margin-left: 0%;
    margin-right: 1%;
}

.figright {
    float: right;
    margin-right: 0%;
    margin-left: 1%;
}

.mynote {
    background-color: #be6a15;
    color: #f3cf7a;
    padding-left: 10%;
    margin-right: 50%;
    font-family: sans-serif;
    font-size: 95%;
}

.mynote p{
    color: #f3cf7a;
}

.mynote pre{
    font-style: italic;
    font-size: 90%;
    margin-left: 0%;
    color: #f3cf7a;
}

pre {
    font-style: italic;
    font-size: 90%;
    margin-left: 10%;
    margin-top: 0%;
    padding-top: 10pt;
    color: #be6a15;
    margin-right: auto;
}

table pre {
    font-style: italic;
    font-size: 90%;
    margin-left: 0%;
    margin-top: 0%;
    padding-top: 10pt;
    color: #be6a15;
    margin-right: auto;
}


hr {
    display: none;
}

br {
    display: none;
}

.fig{
    display: inline-block;
    margin-left: 10%;

}
.fig img{
    height: 300pt;
    width: auto !important;
    border: #6e3b3b;
    display: inline-block;
}

table{
    margin-left: 10%;
    margin-right: 35%;
}